instructions

# Training
runs
yolov8*.pt

training/ls-input-data

training/layout-analysis-yolo/data
training/layout-analysis-segformer/data
training/layout-analysis-segformer/lightning_logs
training/layout-analysis-segformer/outputs
training/layout-analysis-segformer/segformer_hyperparameters.json

training/label-studio-formatter/outputs

__pycache__