# Training
runs
yolov8*.pt

training/layout-analysis-yolo/data
training/layout-analysis-segformer/data
training/layout-analysis-segformer/lightning_logs
training/layout-analysis-segformer/outputs
training/layout-analysis-segformer/segformer_hyperparameters.json
training/layout-analysis-segformer/config.json

training/label-studio-formatter/outputs

# Data
data/ls-input-data
data/instructions


# Inference
inference/models

# Drafts
draft.py
draft.ipynb

# Others
__pycache__